<!DOCTYPE html>
<html>
        <title> GSMS </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="csrf-token" content="kmapods5wQ5L1hn7rcR9OPst7EsN0gC7SrHh3m9K"/>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
        
</head>
<body>

<!-- new order modal -->
<div class="modal" tabindex="-1" role="dialog" id="order">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">WELCOME</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="frm" action="new_order" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name"  placeholder="Enter your name" required pattern="[a-zA-Z\s]+">
                </div>
                <div class="form-group">
                    <label for="number">Mobile Number:</label>
                    <input type="tel" class="form-control" name="number"  placeholder="1234567890" required pattern="[0-9]{10}">
                </div>
                <div class="form-group pull-right">
                <input type="submit" value="submit" class="btn btn-success">
                <input type="reset" value="clear" class="btn btn-danger">
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<!-- x -->
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"><h2>Grocery Store Management System</h2></a>
            </nav>
            <br>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}
            <div class="d-flex justify-content-end">
            <div class="row mb-4">
            <div class="col-md-12">
                <a href="#" class="btn btn-sm btn-primary pull-right ml-3" id="new">
                    New Order
                </a>
                <a href="manage_product" class="btn btn-sm btn-primary pull-right">
                    Manage Products
                </a>
            </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 col-offset">
                <div class="product-list">
                <table class="table table-bordered" style="background-color: #f7f8f8">
                    <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Cutomer Name</th>
                        <th>Mobile Number</th>
                        <th>Date</th>
                        <th>Total Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>{{data.order_id}}</td>
                        <td>{{data.customer_name}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.mobile_number}}</td>
                        <td>{{data.total_amount}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="right-cell"><strong>Total Amount</strong></td>
                        <td><strong>{{total_amount}}</strong></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/home.js' %}"></script>

</body>
</html>